requests
pandas
geopandas
shapely
pyproj
fiona
rtree
joblib
io
ssl
urllib.request
sklearn
certifi
numpy
pathlib
datetime

from __future__ import annotations





from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer, TransformedTargetRegressor
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error 
